* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

html {
    font-size: 10px;
    background-color: #a9a9a9;
}

main {
    flex: 1;
    height: auto;
}

h1,
h2 {
    font-family: cursive;
    color: #2a2a2a;
}

h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 10px black;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

p,
nav {
    width: 70%;
    margin: 0 auto;
}

p,
li {
    font-family: 'Roboto Condensed', sans-serif;
    color: #2a2a2a;
    font-size: 1.6rem;
    line-height: 1.5;
}

nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

li {
    margin: 10px 0;
}

li a {
    cursor: pointer;
}

nav a,
nav span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    text-decoration: none;
    color: #0d080c89;
}

header h1 {
    margin-top: 25px;
    margin-bottom: 25px;
}

header p {
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 30px;
    font-size: 2em;
}

.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9a8787;
}


footer {
    height: 10vh;
    background-color: #9a8787;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;